* {
  font-family: 'Nunito', sans-serif;
}

body {
  height: auto;
  background: rgba(0, 0, 0, 0.5) !important;
}

.flex {
  display: flex;
}

#main-container {
  flex-direction: column;
  justify-content: flex-start;
}

#header-container {
  height: 100px;
  flex-direction: column;
  align-items: center;
}

#header-caption {
  margin-top: 15px;
}

#header-caption h1 {
  font-size: 70px;
}

#underline {
  width: 1550px;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

.separator{
  align-self: center;
}

#canvas-option-container {
  height: 600px;
  display: flex;
}

#canvas-container {
  width: 80%;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 1200px;
  height: 550px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

#option-container {
  width: 20%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.option-button {
  width: 80%;
  height: 30%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  justify-content: center;
  transition: 0.5s ease;
}

.option-button:hover{
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.option-button h1 {
  margin : auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

#line-container {
  height: 250px;
  align-items: center;
  flex-wrap: wrap;
}

.coordinate-card {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 180px;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.coordinate-card h1 {
  margin-top: 10px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.coordinate-wrapper {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.coordinate-wrapper input {
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.coordinate-wrapper input::placeholder {
  text-align: center;
}

#caption-container{
  flex-direction: column;
  align-items: center;
}

#caption-container h3{
  margin-top: 20px;
}
